h3{
    margin: 0;
}

.buttonShared{
    height: 40px;
    border: 1px solid var(--primary-color);
    span{
        margin:0 8px;
    }
}

.layoutItem{
    background: #fff;
    box-shadow: 0rem 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
    margin-bottom: 24px;
}
.input__textArea{
    height: 157px !important;
}
.iconCustom{
    font-size: 18px;
    
    padding: 10px;
    display: flex;
    justify-content: center;
    &:hover{
        color:var(--primary-color);
        border-radius: 50%;
        box-shadow: 0rem 0.375rem 0.75rem rgba(76, 112, 148, 0.4);
        font-weight: 600;
        cursor: pointer;
  
    }
}

.tilteForm{
    color: var(--color-titleForm);
    font-weight: 500;
}
.descForm{
    border-radius: 10px;
    border:var(--border-color);
    margin: 0;
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #6e7a86;
    font-weight: 400;
    cursor: no-drop;
    &__textArea{
        height: 143px !important;
    }
}

.customSelect{
    .ant-select-selector{
        border: none !important;
        padding: 0 !important;
    }
    .ant-select-arrow{
        display: none;
    }
    .ant-select-selection-item{
        padding-inline-end: 0 !important;
    }
    
}
.ant-select-dropdown .ant-select-item{
    padding: 0 !important;
    width: 100% !important;
}
.ant-select-dropdown-placement-bottomLeft{
    
}
.ant-drawer-body{
    padding: 0 !important;
}

.buttonCustomer{
    background:rgba(22, 119, 255, 0.4);
    color: var(--primary-color) !important;
    font-weight: 500;
    &:hover{
        color:#fff !important;
        background:rgba(22, 119, 255, 1) !important;
    }
}