:root {
    --primary-color: #1677ff;
    --sub-color: #787878;
    --hover-color: #CCDCF0;
    --border-color:1px solid rgba(231, 234, 243, 0.7);
    --box-shadow: 0 8px 16px rgba(121, 117, 117, 0.2);
    --border-line:1px dashed rgba(5, 5, 5, 0.12) ;
    --color-titleForm:rgba(0, 0, 0, 0.88); ;
  } 